@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DOBRO DOŠLI!!</h1>
    <p class="lead">Ova aplikacija omogučuje vam rezervaciju i pregled apartmana. Za korištenje aplikacije potrebno se je registrirati i prijaviti.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Apartmani</h2>
        <p>
            Omogućuje preglde apartmana i odabir željenog apartmana.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Rezervacija</h2>
        <p>Omogućuje pregled Vaših rezervacija i kreiranje novih.</p>
    </div>

</div>